.button-default{
    height: var(--size-1);
    padding: 0 var(--paddingInlineButton);
    font-weight: var(--font-weight-1);
    font-size: var(--font-text-1);
    background-color: var(--color-brand-1);
    border: 0.125rem solid var(--color-brand-1); /* 2px */
    color: var(--color-grey-7);
    cursor: pointer;
}
.button-default:hover{
    background-color: var(--color-brand-2);
    color: var(--color-grey-5);
    border-color: var(--color-brand-2)
}

.button-primary{
    height: var(--size-1);
    padding: 0 var(--paddingInlineButton);
    font-weight: var(--font-weight-1);
    font-size: var(--font-text-1);
    background-color: var(--color-brand-2);
    border: 0.125rem solid var(--color-brand-2); /* 2px */
    color: var(--color-grey-7);
    cursor: pointer;
}
.button-primary:hover{
    background-color: var(--color-brand-1);
    color: var(--color-grey-5);
    border-color: var(--color-brand-1)
}

.button-secondary{
    height: var(--size-1);
    padding: 0 var(--paddingInlineButton);
    font-weight: var(--font-weight-1);
    font-size: var(--font-text-1);
    background-color: transparent;
    border: 0.125rem solid var(--color-grey-7); /* 2px */
    color: var(--color-grey-7);
    cursor: pointer;
}
.button-secondary:hover{
    background-color: var(--color-grey-4);
    color: var(--color-brand-1);
    border-color: var(--color-brand-1)
}
