.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-partial-1 {
  width: 70%;
}

.width-partial-2 {
  width: 60%;
}

.width-partial-3 {
  width: 40%;
}
.width-partial-4 {
  width: 35%;
}
.width-partial-5 {
  width: 30%;
}
.width-partial-6 {
  width: 20%;
}


.width-section {
  width: 80%;
}

.width-modal-1 {
  width: 50%;
}

.width-modal-2 {
  width: 40%;
}

.width-modal-button-1 {
  width: 100px;
}

.width-screen {
  width: 100vw;
}

.height-screen {
  height: 100vh;
}

.height-partial-1 {
  height: 250px;
}

.height-button-1 {
  height: var(--size-3);
}
